@import "../../style.scss";

body {
  .page_container,
  .post_container {
    background: color(base-1);

    /*Default layout - mobile first*/
    #page_main,
    #post_main {
      position: relative;

      /*styling for tab menu and content for kids corner and resrouces- default layout*/
      .content_area {
        position: inherit;
        .kids_content_area::before,
        .resources_content_area::before,
        .post_content_area:before {
          position: absolute;
          content: "";
          background-size: cover;
          background-position: center;
          opacity: 0.1;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
        .kids_content_area::before {
          background-image: url("../../../../uploads/2020/03/kids_corner-550x550.png");
          background-size: cover;
        }
        .resources_content_area::before,
        .post_content_area::before {
          background-image: url("../../../../uploads/2020/03/pt_resources-550x550.png");
          background-size: cover;
        }
      }
      .content_area {
        position: relative;
        .kids_content_area,
        .resources_content_area {
          position: inherit;

          /*styling for tab menu for kids corner and resrouces mobile*/
          .kids_corner_tab,
          .resources_tab {
            position: relative;
            z-index: 10;
            overflow: hidden;
            border-radius: 2px;
            width: 100%;
            margin: 0 auto;
            background: color(base-1);
            position: sticky;
            top: 72px;
            .tab_wrapper {
              border: 1px solid color(accent-4);
              border-radius: 2px;
              border-top: 0;

              #other_links_menu {
                display: none; // hide other links tab menu in mobile layout
              }
              .tab_menu {
                width: 100%;
                background-color: inherit;
                button {
                  cursor: pointer;
                  transition: 0.3s;
                  font-size: 1rem;
                  color: color(primary);
                  padding: 0.9rem 1rem;
                  border: none;
                  outline: none;
                  width: inherit;
                  background-color: inherit;
                  display: block;
                  a {
                    text-decoration: none;
                    color: color(primary);
                  }
                }
                .tab_submenu {
                  display: none;
                }
              }
            }
          }
          /*End of styling for tab menu for kids corner and resrouces mobile*/

          .tabcontent {
            position: relative;
            /*spinner styling for asynchronous loading of content*/
            #instr_videos_spinner.active,
            #adri_blog_spinner.active,
            #other_links_spinner.active {
              display: flex;
              align-content: center;
              justify-content: center;

              i {
                display: block;
                width: 5%;
                margin: 5rem;
              }
            }
            #instr_videos_spinner,
            #adri_blog_spinner,
            #other_links_spinner {
              display: none;
            }
            #other_links_spinner {
              position: absolute;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            /* End of spinner styling for asynchronous loading of content*/
          }

          /*Styling for Reading and Worksheets Activities*/
          .reading_activities_tab_content,
          .worksheets_tab_content {
            .reading_activities_cards,
            .worksheets_cards {
              // display: grid;
              // grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
              // grid-gap: 1rem;
              // align-items: center;
              // justify-items: center;
              display:flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
            

              .reading_activities_card,
              .worksheets_card {
                border: 1px solid color(accent-4);
                box-shadow: 1px 1px 4px color(accent-4);
                border-radius: 2px;
                transition: 1s;
                margin:0 .75rem 1.5rem .75rem;
                .card_data {
                  .card_img {
                    img {
                      width: 200px;
                      height: 200px;
                    }
                    background-color: color(accent-1);
                  }

                  .card_text {
                    padding: 0.5rem;
                    background: color(base-1);
                    border-top: 1px solid color(accent-4);
                  }
                }

                &:hover {
                  cursor: pointer;
                  transform: scale($transform-scale-factor);
                  animation: boxShadowZoomIn 1s;
                  animation-fill-mode: forwards;
                }
              }
            }
            .reading_activities_card.inactive,
            .worksheets_card.inactive {
              display: none;
            }
          }
          /*End Styling Reading Activities  and Worksheets */

          /*Blog Content Mobile-Phones*/
          .adri_blog_tab_content {
            .adri_blog_content {
              border: 1px solid color(accent-4);
              background-color: color(text-2);
              box-shadow: 2px 2px 4px color(accent-4);
              margin-bottom: 1rem;
              border-radius: 2px;
              display: grid;
              grid-template-columns: auto;
              grid-template-rows: auto;
              grid-template-areas:
                "img"
                "content-area";

              .img_container {
                grid-area: img;
                width: 100%;
                img {
                  width: 100%;
                }
              }
              .content_container {
                grid-area: content-area;
                h3 {
                  text-align: left;
                  padding: 1rem;
                  text-decoration: none;
                  color: color(primary);
                  box-sizing: border-box;
                  font-weight: bold;
                  display: block;
                }

                h1 {
                  color: #000;
                  padding: 0 1rem 1rem 1rem;
                  text-align: left;
                }

                p {
                  text-align: justify;
                  margin: 0 auto;
                  padding: 0 1rem 1rem 1rem;
                }

                button {
                  cursor: pointer;
                  background: color(primary);
                  color: color(text-2);
                  padding: 0.2rem;
                  outline: none;
                  border: none;
                  border-radius: 2px;
                  transition: 1s;
                  &:hover {
                    color: color(secondary);
                    transform: scale($transform-scale-factor);
                  }
                  margin: 0 1rem 1rem 1rem;
                }
                .adri_blog_meta_data {
                  font-weight: bold;
                  color: #000;
                  font-size: 12px;
                  span {
                    font-weight: bold;
                    color: color(primary);
                  }
                }
              }
            }

            /*adri blog navigation*/
            .adri_blog_navigation {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid color(accent-4);
              border-radius: 2px;
              background: rgba(255, 255, 255, 0.96);
              margin: 0 auto 0.3rem auto;
              width: 100%;
              position: sticky;
              top: 217px;
              i {
                cursor: pointer;
              }
              .page_links a {
                padding-right: 1rem;
                cursor: pointer;
                color: color(primary);
              }
              .page_links a.active {
                font-weight: bold;
              }

              #blog_nav_left {
                padding-left: 0;
              }
              .adri_blog_navigation_content {
                padding: 0.5rem 0.5rem;
                #blogs_per_page {
                  width: 3rem;
                  border: 1px solid color(accent-4);
                }
              }
              #blog_nav_right {
                padding-right: 0;
              }
            }
            /*End of adri blog navigation*/
          }

          /*End of Blog Content Mobile-Phones*/

          /*Instructinonal videos content mobile*/
          .instr_video_tab_content {
            display: block;
            .player_class {
              position: sticky;
              margin: 0 auto;
              top: 33%;
              left: 50%;
              width: 100%;
              height: 30%;
              background-color: black;
              z-index: 8;
              animation: fadeEffect 1s;
              display: none;

              #player_controls {
                height: 2rem;
                background: color(secondary);
                a,
                i {
                  height: inherit;
                  float: right;
                  font-weight: bold;
                  color: color(accent);
                  padding: 0 0.5rem;
                  text-decoration: none;
                  font-size: 2rem;
                }

                #minimize_btn {
                  line-height: 0.09;
                  display: none;
                }
                #restore_btn {
                  line-height: 2;
                  font-size: 1rem;
                  display: none;
                }
                #close_btn {
                  line-height: 0.85;
                }
              }
            }
            .videos {
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
              grid-gap: 1rem;
              .video_links {
                position: relative;
                width: max-content;
                box-shadow: 2px 2px 4px color(accent-4);
                margin: 0 auto 1rem auto;
                border-radius: 2px;

                transition: 1s;
                &:hover {
                  cursor: pointer;
                  transform: scale($transform-scale-factor);
                  animation: boxShadowZoomIn 1s;
                  animation-fill-mode: forwards;
                }
                .video_link_wrapper {
                  .video_content {
                    background-color: #000;
                    width: 320px;
                    height: 180px;
                    border-radius: inherit;
                  }
                  .info {
                    position: absolute;
                    bottom: 0;
                    background-color: color(base-1);
                    width: 100%;
                    border-radius: inherit;
                    * {
                      padding: 0.2rem;
                      font-size: 0.7rem;
                    }
                  }
                }
              }
            }
          }
          /*End of Instructinonal videos content mobile*/

          /*Other links content mobile*/
          .other_links_tab_content {
            #other_links_iframe {
              width: 100%;
              height: 50rem;
              border: 1px solid color(accent-4);
              border-radius: 2px;
              box-shadow: 1px 1px 4px #000;
            }
          }

          /*General styling for all tabs mobile*/
          .tabcontent {
            position: inherit;
            display: none;
            padding: 6px 12px;
            animation: fadeEffect 1s; //tab content
            margin-top: 1rem;
            box-sizing: border-box;
          }
          /*End of General styling for all tabs mobile*/

          .kids_corner_tab button.active,
          .resources_tab button.active {
            background-color: color(accent-4);
            font-weight: bold;
          }

          /*community forum default*/
          .community_tab_content {
            width: 100%;
          }
          /*community forum default*/
        }

        /*blog page styling default styling*/
        .post_content_area {
          .post_content_area_data {
            //all anchor tags on blog page
            a {
              text-decoration: none;
              color: color(primary);
              transition: 1s;
              &:hover {
                color: color(primary);
                text-shadow: 0 0 3px color(secondary);
                border-radius: 2px;
                transform: scale($transform-scale-factor);
              }
            }
            //all anchor tags on blog page
            position: relative;
            z-index: 10;
            padding: 0 1rem;
            display: grid;
            grid-template-columns: 100%;
            grid-gap: 0.5rem;
            grid-template-areas:
              "breadcrumb_nav"
              "post_content"
              "post_meta_content";

            .bread_crumb_nav {
              grid-area: breadcrumb_nav;
              z-index: 19;
              position: sticky;
              top: $header-height-mobile;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #eee;
              padding: 0.5rem 1rem;
              margin-bottom: 1rem;
              border-radius: 2px;
              .breadcrumb {
                list-style: none;
                padding: 0;
                li {
                  display: inline;
                  font-weight: bold;
                  a {
                    color: color(primary);
                    text-decoration: none;
                  }
                }
                li + li:before {
                  padding: 8px;
                  color: #000;
                  content: "\003E";
                }
              }
            }
            .post_wrapper {
              grid-area: post_content;
              // z-index: 10;
              .post_header {
                //blog title
                h1 {
                  padding-bottom: 1rem;
                  color: #000;
                  text-align: center;
                }
                //blog meta data
                p {
                  padding-bottom: 1rem;
                  color: color(primary);
                  text-align: center;
                }
              }
              .img_container {
                img {
                  width: 100%;
                  border-radius: 2px;
                }
              }
              .post_content {
                background: #fff;
                border-radius: 2px;
                padding: 0.5rem;
                border-radius: 2px;
                img {
                  width: 100%;
                }
              }
              .post_nav_container {
                margin: 1rem 0;
                .pagination_single {
                  .pagination_single_inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a {
                      padding: 0.25rem;
                      text-decoration: none;
                      transition: 1s;
                      .title {
                        position: relative;
                        display: inline-block;
                        border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
                      }
                      &:hover .title .title_inner {
                        visibility: visible;
                        animation: fadeEffect 1s;
                        animation-fill-mode: forwards;
                      }
                      .title .title_inner {
                        visibility: hidden;
                        opacity: 0;
                        font-size: 0.8rem;
                        width: auto;
                        padding: 0 2rem;
                        background-color: rgba(0, 0, 0, 0.75);
                        color: #fff;
                        text-align: center;
                        border-radius: 2px;

                        /* Position the tooltip text at top*/
                        position: absolute;
                        width: auto;
                        bottom: 2rem;
                        left: 1rem;
                      }

                      .arrow {
                        background: color(primary);
                        padding: 0.5rem 1.5rem;
                        color: white;
                        border-radius: 2px;
                        transition: 1s;
                        &:hover {
                          color: color(secondary);
                        }
                      }
                      &:hover {
                        transform: scale($transform-scale-factor);
                      }
                    }
                    .previous_post {
                      .title .title_inner {
                        left: -7.2rem;
                      }
                    }
                    .next_post {
                      .title .title_inner {
                        left: -6.3rem;
                      }
                    }
                  }
                }
              }

              /*blog comment section styling*/
              .comments_container {
                .comments {
                  .comments_header {
                    color: #000;
                    padding-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    i {
                      font-size: 1.5rem;
                    }
                    i.open {
                      transform: rotate(180deg);
                    }
                  }
                  .comments_inner.active {
                    display: block;
                  }
                  .comments_inner {
                    display: none;

                    .comment {
                      padding-bottom: 1.5rem;
                      .comment_body {
                        display: grid;
                        grid-template-columns: 3rem 86%;
                        grid-template-areas: "author_img content";
                        font-size: medium;

                        .comment_author_img {
                          grid-area: author_img;
                          img {
                            border-radius: 100%;
                          }
                        }
                        .comment_info {
                          .comment_meta {
                            .comment_metadata {
                              grid-area: content;
                              background: #80808017;
                              border-radius: 8px;
                              padding: 0.5rem 1rem;
                              box-sizing: border-box;
                              padding-bottom: 0.5rem;
                              display: inline-block;
                              .fn {
                                color: #000;
                                font-weight: bold;
                              }
                              .comment_content {
                                display: inline;
                                p {
                                  display: inline;
                                  color: #000;
                                }
                              }
                            }
                          }

                          .date_time_edit_link {
                            display: inline;
                            time {
                              font-size: small;
                            }
                            a {
                              text-decoration: none;
                              color: color(primary);
                            }
                          }
                          .comment_footer_meta {
                            font-size: small;
                          }
                        }
                      }
                    }
                  }
                }
                .comment-respond {
                  #reply_title {
                    color: #000;
                  }

                  margin-top: 1rem;
                  .comment_reply_title {
                    margin-bottom: 0.5rem;
                    a {
                      margin-left: 1rem;
                    }
                  }
                  #commentform {
                    p {
                      margin-bottom: 0.5rem;
                      label {
                        display: block;
                        color: #000;
                        //font-weight: bold;
                      }
                      textarea {
                        border: 1px solid color(accent-4);
                        border-radius: 2px;
                        width: 100%;
                      }
                      input {
                        border: 1px solid color(accent-4);
                        border-radius: 2px;
                      }
                      .submit {
                        border: none;
                        background: color(primary);
                        border-radius: 2px;
                        padding: 0.5rem 1rem;
                        color: #fff;
                        cursor: pointer;
                        transition: 1s;
                        &:hover {
                          color: color(secondary);
                          transform: scale($transform-scale-factor);
                        }
                      }
                    }
                    .logged-in-as {
                      font-weight: bold;
                    }
                  }
                }
              }
              /*end of comment section styling*/
            }
            /*Stylying for popular post area*/
            .post_meta_content {
              grid-area: post_meta_content;
              z-index: 10;
              h2 {
                color: #000;
                margin-bottom: 1.5rem;
                border-top: 1.5px solid color(accent-3);
                padding-top: 1rem;
              }
              .popular_post {
                display: flex;
                align-items: start;
                justify-content: start;
                margin-bottom: 1.5rem;
                border-bottom: 1px solid color(accent-4);
                padding-bottom: 1rem;

                .popular_post_img_container {
                  width: 15%;

                  img {
                    width: 100%;
                    border-radius: 2px;
                  }
                }
                .popular_post_text {
                  padding-left: 0.5rem;
                }
              }
              //border: 1px solid red;
            }
            /*End ofStylying for popular post area*/
          }
        }
        /*End of blog page styling default styling*/
      }
      /*End of styling for tab menu and content for kids corner and resrouces- default layout*/

      /*Animaniton effects used on differnt tab sections*/
      /* Fade in tabs */
      @-webkit-keyframes fadeEffect {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @keyframes fadeEffect {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      /* Box Shadow Zoom */
      @-webkit-keyframes boxShadowZoomIn {
        from {
          box-shadow: 2px 2px 4px color(accent-4);
        }
        to {
          box-shadow: 2px 2px 4px color(accent-3);
        }
      }
      @keyframes boxShadowZoomIn {
        from {
          box-shadow: 2px 2px 4px color(accent-4);
        }
        to {
          box-shadow: 2px 2px 4px color(accent-3);
        }
      }

      /* video player Minimize */
      @-webkit-keyframes videoPlayerMinimize {
        from {
          position: fixed;
          margin: 0 auto;
          top: 33%;
          left: 50%;
          width: 640px;
          height: 390px;
          transform: translate(-50%, -33%);
        }
        to {
          width: auto;
          top: 80%;
          bottom: 2rem;
          left: 0;
          right: 80%;
          height: auto;
          transform: translate(0, 0);
        }
      }

      @keyframes videoPlayerMinimize {
        from {
          position: fixed;
          margin: 0 auto;
          top: 33%;
          left: 50%;
          width: 640px;
          height: 390px;
          transform: translate(-50%, -33%);
        }
        to {
          width: auto;
          top: 80%;
          bottom: 2rem;
          left: 0;
          right: 80%;
          height: auto;
          transform: translate(0, 0);
        }
      }

      /* video player Maximize */
      @-webkit-keyframes videoPlayerMaximize {
        from {
          width: auto;
          top: 80%;
          bottom: 5%;
          left: 0;
          right: 80%;
          height: auto;
          transform: translate(0, 0);
        }
        to {
          position: fixed;
          margin: 0 auto;
          top: 33%;
          left: 50%;
          width: 640px;
          height: 390px;
          transform: translate(-50%, -33%);
        }
      }

      @keyframes videoPlayerMaximize {
        from {
          width: auto;
          top: 80%;
          bottom: 5%;
          left: 0;
          right: 80%;
          height: auto;
          transform: translate(0, 0);
        }
        to {
          position: fixed;
          margin: 0 auto;
          top: 33%;
          left: 50%;
          width: 640px;
          height: 390px;
          transform: translate(-50%, -33%);
        }
      }
      /*End of animaniton effects used on differnt tab sections*/
    }

    /*Tablet layout*/
    @include tablet {
      #page_main,
      #post_main {
        .content_area {
          .resources_content_area {
            /*Blog Content resources page Mobile-Tablets*/
            .adri_blog_tab_content {
              .adri_blog_content {
                .img_container {
                  img {
                    width: 40%;
                    margin: 0 auto;
                    display: block;
                  }
                }
                .content_container {
                  h1 {
                    display: block;
                    margin: 0 auto;
                    width: 50%;
                    text-align: center;
                  }
                  h3 {
                    text-align: center;
                  }
                  button {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                  }
                  .adri_blog_meta_data {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                  }
                }
              }
              /*adri blog navigation*/
              .adri_blog_navigation {
                .adri_blog_navigation_content {
                  padding: 0.5rem 4.5rem;
                }
                .page_links a {
                  padding-right: 1rem;
                }
              }
              /*End of adri blog navigation*/
            }
            /*End of Blog Content Mobile-Tablets*/
          }
          /*blog page styling desktop styling*/
          .post_content_area {
            .post_content_area_data {
              .post_wrapper {
                .comments_container {
                  .comments {
                    .comments_inner {
                      .comment {
                        .comment_body {
                          grid-template-columns: 3rem 90%;
                        }
                      }
                    }
                  }
                  .comment-respond {
                    #commentform {
                      p {
                        textarea {
                          width: 60%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          /*end blog page styling desktop styling*/
        }
      }
    }

    /*
    *Desktop layout
    */
    @include desktop {
      #nav_touch {
        display: none; //hide side nav menu
      }
      grid-template-columns: 0% 100% !important; //allow content to cover full-width

      #page_main,
      #post_main {
        /*styling for tab menu and content for kids corner and resrouces Desktop*/
        .content_area {
          .kids_content_area,
          .resources_content_area {
            /*styling for tab menu for kids corner and resrouces Desktop*/
            .kids_corner_tab,
            .resources_tab {
              width: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(0, 0, 0, 0);
              top: 96px;
            }
            .kids_corner_tab,
            .resources_tab {
              overflow: visible;
              .tab_wrapper {
                background: color(text-2);
                #other_links_menu {
                  display: inline-block;
                }
                .tab_menu {
                  width: auto;
                  display: inline-block;
                  padding: 0;
                  height: 3.5rem;
                  position: relative;
                  .btn_visited {
                    font-weight: bold;
                  }

                  button {
                    float: left;
                    padding: 0.2rem 0.2rem;
                    margin: 0.9rem 1rem;
                    &:hover {
                      background-color: color(accent-4);
                      border-radius: 2px;
                    }

                    //underlining of tabs
                    position: relative;
                    span::after {
                      position: absolute;
                      content: "";
                      width: 100%;
                      height: 6px;
                      left: 0;
                      transition: background 0.25s;
                      border-radius: 6px;
                      bottom: -11px;
                    }
                  }
                  .tab_submenu button {
                    margin: 0;
                  }

                  &:hover {
                    .tab_submenu {
                      position: absolute;
                      top: 100%;
                      left: 50%;
                      transform: translate(-50%, 0%);
                      display: block;
                      border: 1px solid color(accent-4);
                      border-top: 0;
                      text-align: center;
                      width: 100%;
                      background: rgba(255, 255, 255, 0.8);
                      border-bottom-left-radius: 2px;
                      border-bottom-right-radius: 2px;
                      animation: fadeEffect 1s;
                      button {
                        display: inherit;
                        padding: 1rem 0;
                      }
                    }
                  }
                }
              }
            }

            .kids_corner_tab,
            .resources_tab {
              .tab_wrapper button.active {
                background: none;
                span::after {
                  background-color: color(primary);
                }
              }
              .tab_wrapper {
                background: rgba(255, 255, 255, 0.96);
              }
            }
            /*End of styling for tab menu for kids corner and resrouces Desktop*/

            /*Blog Content resources page Desktop*/
            .adri_blog_tab_content {
              width: 65rem;
              .adri_blog_content {
                grid-template-columns: 30% auto;
                grid-template-rows: auto;
                grid-template-areas: "img content-area";

                .img_container {
                  grid-area: img;
                  img {
                    width: 100%;
                    margin: 0;
                  }
                }
                .content_container {
                  grid-area: content-area;
                  h1 {
                    display: block;
                    padding: 0 1rem 1rem 1rem;
                    width: 100%;
                    text-align: left;
                    box-sizing: border-box;
                  }
                  h3 {
                    text-align: left;
                  }

                  button {
                    display: block;
                    margin: 0 1rem 1rem 1rem;
                  }
                  .adri_blog_meta_data {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: left;
                  }
                }
              }
              .adri_blog_content_no_img{
                grid-template-columns: 0 auto;

              }
              /*adri blog navigation*/
              .adri_blog_navigation {
                top: 156px;
                .adri_blog_navigation_content {
                  padding: 0.5rem 2rem;
                }
                width: 50%;
              }
              /*End of adri blog navigation*/
            }
            /*End of Blog Content resources pagesDesktop*/

            /*Instructinonal Videos Desktop*/
            .instr_video_tab_content {
              width: 65rem;
              .player_class {
                position: fixed;
                margin: 0 auto;
                top: 50%;
                left: 50%;
                width: 640px;
                height: 390px;
                z-index: 19;
                transform: translate(-50%, -50%);
                #player_controls {
                  a,
                  i {
                    cursor: pointer;
                  }
                  #minimize_btn {
                    display: inline-block;
                  }
                  #close_btn {
                    line-height: 0.85;
                  }
                }
              }
              .minimize_player {
                animation: videoPlayerMinimize 0s; //player minimize animation
                animation-fill-mode: forwards;
              }
              .restore_player {
                animation: videoPlayerMaximize 0s; //player restore animation
                animation-fill-mode: forwards;
              }
            }
            /*End of Instructinonal Videos Desktop*/

            /*Styling for Reading Activities and Worksheets Desktop*/
            .reading_activities_tab_content,
            .worksheets_tab_content {
              width: 80%;
            }
            /*End Styling Reading Activities and Worksheets  Desktop*/

            /*General styling for all tabs Desktop*/
            .tabcontent {
              margin: 0 auto;
            }
            /*End of General styling for all tabs Desktop*/

            /*community forum default*/
            .community_tab_content {
              width: 80%;
            }
            /*community forum default*/
          }

          /*blog individual page styling desktop styling*/
          .post_content_area {
            .post_content_area_data {
              width: 75%;
              margin: 0 auto;
              grid-template-columns: 65% 35%;
              grid-template-areas:
                "breadcrumb_nav blank_space"
                "post_content post_meta_content";
              align-items: flex-start;

              .bread_crumb_nav {
                justify-content: left;
                align-items: left;
              }
              .img_container {
                width: 100%;
                margin: 0 auto;
              }
              .post_wrapper {
                .post_header {
                  h1 {
                    text-align: left;
                  }
                  p {
                    text-align: left;
                  }
                }
                .comments_container {
                  .comments {
                    .comments_inner {
                      .comment {
                        .comment_body {
                          grid-template-columns: 3rem 90%;

                          // .comment_author_img {
                          //   border: 1px solid red;
                          //   -ms-grid-column: 1;
                          //   -ms-grid-row: 1;
                          // }
                          // .comment_info {
                          //   // border: 1px solid red;
                          //   -ms-grid-column: 2;
                          //   -ms-grid-row: 1;
                          // }
                        }
                      }
                    }
                  }
                  .comment-respond {
                    #commentform {
                      p {
                        textarea {
                          width: 60%;
                        }
                      }
                    }
                  }
                }
              }

              /*Stylying for popular post area desktop */
              .post_meta_content {
                margin-left: 1rem;
                h2 {
                  border: none;
                }
                .popular_post {
                  .popular_post_img_container {
                    width: 25%;

                    img {
                      width: 100%;
                      border-radius: 2px;
                    }
                  }
                  .popular_post_text {
                    padding-left: 0.5rem;
                  }
                }
                //border: 1px solid red;
              }
              /*End ofStylying for popular post area desktop*/
            }
          }
          /*end blog page styling desktop styling*/
        }
        /*End of styling for tab menu and content for kids corner and resrouces Desktop*/
      }
    }

    /*  
    * IE10+ CSS for kids corner and resources   layout 
    */
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      #post_main,
      #page_main {
        .content_area {
          .kids_content_area,
          .resources_content_area {
            .kids_corner_tab,
            .resources_tab {
              top: 0;
            }
            /*Use of gutter grid plugin for instrucitonal videos, Worksheet and reading activities layout IE10+*/
            .instr_video_tab_content {
              overflow: hidden; /* Need this for the chrome bug */
              .videos {
                @include grid($cols: 4, $gutter: 40px);
                .video_links {
                  .video_link_wrapper {
                    .video_content {
                      width: auto;
                    }
                  }
                }
              }
            }

            .reading_activities_tab_content,
            .worksheets_tab_content {
              .reading_activities_cards,
              .worksheets_cards {
                // @include grid(4, $gutter: 20px, $stretch: true);
                // display:flex;
                // align-items: center;
                .reading_activities_card,
                .worksheets_card {
                  border: none;
                  box-shadow: none;
                  padding-bottom: 2rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .card_data {
                    display: flex;
                    flex-flow: column;
                    border: 1px solid color(accent-4);
                    box-shadow: 1px 1px 4px color(accent-4);
                    border-radius: 2px;
                    width: 200px;
                  }

                  &:hover {
                    transform: scale($transform-scale-factor);
                    animation: normal;
                    animation-fill-mode: forwards;
                  }
                }
              }
            }
            /*End of Use of gutter grid plugin for instrucitonal videos, , Worksheet and reading activities layout IE10+*/
          }

          .post_content_area {
            .post_content_area_data {
              .post_wrapper {
                .comments_container {
                  .comments {
                    .comments_inner {
                      .comment {
                        .comment_body {
                          //grid-template-columns: 10% 90%;
                          .comment_author_img {
                            // border: 1px solid red;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                          }
                          .comment_info {
                            .comment_meta{
                              .comment_metadata{
                                padding:0.5rem 0;
                              }
                            }
                            // border: 1px solid red;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .post_meta_content {
                -ms-grid-column: 2;
                -ms-grid-row: 2;
              }
            }
          }
        }
      }
    }
  }
}
