@import "../../style.scss";
body {
  .container {
    .page_container {

      .content_title {
        text-align: center;
        color: color(secondary);
        padding: 0.5rem;
        font-family: Candara, sans-serif;
        #sub_title {
          display: none;
        }
      }
      #nav_touch {
        // border: 2px solid red;
        height: 100%;
        width: 1rem;
        position: fixed;
        z-index: 18;
        top: $logo-dims-mobile + $padding-nav * 2;
        left: 0;
        transition: 0.5s;

        .side_nav {
          height: 100%;
          width: 280px;
          z-index: 9;
          background-color: color(base-1);
          overflow-x: hidden;
          transition: 0.5s;
          box-shadow: 0 0 0 0 color(accent-4);
          border: 1px solid color(accent-4);

          .side_bar_1,
          .side_bar_2 {
            color: color(primary);
            font-weight: bold;
            .side_menu {
              border: none;
              outline: none;
              width: 100%;
              font-size: 1.2rem;
              cursor: pointer;
              background-color: inherit;
              text-align: left;
              padding: 1rem;
              color: inherit;
              font-variant: inherit;
              font-weight: inherit;
              &:hover {
                background-color: color(accent-4);
              }

              i {
                padding: 0.5rem;
              }
            }
            .sub_menu {
              color: inherit;
              cursor: pointer;
              height: 0;
              overflow-y: hidden;
            }
            a {
              padding: 8px 8px 8px 32px;
              text-decoration: none;
              font-size: 1rem;
              display: block;
              color: inherit;
              font-weight: normal;
              &:hover {
                background-color: color(accent-4);
              }
            }
            .close_btn {
              width: 100%;
              a {
                float: right;
                font-size: 36px;
              }
            }
            .open_sub_menu {
              height: auto;
            }
            .rotate_arrow_icon {
              transform: rotate(90deg);
            }
          }
        }
      }
      /*
       *Desktop layout for page container area
       */
      @include desktop {

        margin: 0.5rem;
        display: grid;
        grid-template-columns: 18% 82%;
        grid-template-areas:
          "content_title_white_space content_title"
          "side_nav      content_area";

        #page_main {
          grid-area: content_area;
        }

        #nav_touch {
          grid-area: side_nav;
          width: 100%;
          height: auto;

          position: static;
          .close_btn {
            display: none;
          }
          .side_nav {
            box-shadow: none;
            border: none;
            width: 100%;
            height: 100%;
            .side_bar_1,
            .side_bar_2 {
              .side_menu {
                font-size: 1rem;
              }
            }
            .side_bar_2 {
            }
          }
        }

        .content_title {
          grid-area: content_title;
          h1 {
            height: 3rem;
            font-size: 4rem;
            width: auto;
            padding: 1rem;
            line-height: 0.9;
            font-weight: bold;
          }
        }
        
        /*IE 10+*/
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

          position: relative;
          top: $header-height-deskop;
          display: -ms-grid;
          -ms-grid-columns:1fr 1fr;

          .content_title {
            -ms-grid-row:1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
          }

          #nav_touch {
            -ms-grid-row:2;
            -ms-grid-column: 1;
          }

          #page_main {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
          }
        }

        /* Edge 16+  */
        @supports (-ms-ime-align: auto) {
          position: relative;
          top: $header-height-deskop;
          display: -ms-grid;
          -ms-grid-columns:1fr 1fr;

          .content_title {
            -ms-grid-row:1;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
          }

          #nav_touch {
            -ms-grid-row:2;
            -ms-grid-column: 1;
          }

          #page_main {
            -ms-grid-row: 2;
            -ms-grid-column: 2;
          }
        }
      }
    }
  }
}
