@import "../../style.scss";

body {
  .page_container {
    background: color(base-1);

    #page_main {
      position: relative;
      .content_area {
        position: inherit;
        .services_content_area::before {
          position: relative;
          box-sizing: border-box;
          // padding: 15rem;
          position: absolute;
          content: "";
          background-image: url("../../../../uploads/2020/03/our_services-550x550.png");
          background-size: cover;
          background-position: center;
          opacity: 0.1;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
        .services_content_area {
          .breadcrumbs_nav {
            position: sticky;
            top: $header-height-mobile;
            background: white;
            padding: 1rem;
            z-index: 11;
            .breadcrumbs {
              color: color(primary);
              a {
                text-decoration: none;
                text-transform: capitalize;
              }
            }
          }

          position: relative;
          width: inherit;
          .service_text {
            border-bottom: 1px solid color(accent-4);
            padding-bottom: 2rem;
          }

          .service {
            position: relative;
            z-index: 10;
            padding: 1rem;

            hr {
              // border-bottom: 1px solid color(accent-4);
              border: none;
              color: color(accent-4);
              margin: 2rem 0;
              height: 1px;
              background-color: color(accent-4);
            }

            img {
              width: 100%;
              margin-bottom: 1rem;
              border-radius: 2px;
              box-shadow: 2px 2px 4px color(accent-4);
            }
            h1,
            h2,
            h3 {
              color: #000;
              margin-bottom: 1rem;
              text-align: center;
            }
            p,
            .svc_content {
              text-align: justify;
              // width: 80%;
              margin: 0 auto 1rem auto;
            }
            button {
              cursor: pointer;
              background: color(primary);
              color: color(text-2);
              padding: 0.2rem;
              outline: none;
              border: none;
              border-radius: 2px;
              transition: 1s;
              &:hover {
                color: color(secondary);
                transform: scale($transform-scale-factor);
              }
              display: flex;
              margin: 0 auto 1rem auto;
            }
          }
            /*tablet layout for services*/
            @include tablet {
              .service {
                img {
                  width: 50%;
                  margin: 0 auto;
                  display: block;
                }
              }
            }
          /*
          *Desktop layout for services
          */
          @include desktop {
            .service {
              img {
                width: 100%;
                margin:0;
              }
            }
            .breadcrumbs_nav {
              position: relative;
              top: 0;
              z-index: 10;
              width: 75%;
              margin: 0 auto;
              padding: 0;
              background: none;
            }
            .service {
              width: 75%;
              margin: 0 auto;
              h1,
              h2 {
                text-align: left;
              }
              button {
                margin: 0 0.2rem 0 0;
                display:inline-block;
              }
            }

            .reading_assesment_svc {
              border-bottom: 1px solid color(accent-4);
              display: grid;
              grid-template-columns: 25% 75%;
              grid-template-rows: auto;
              grid-template-areas: "reading_img reading_svc_content";

              img {
                grid-area: reading_img;
              }
              .reading_assessment_content {
                grid-area: reading_svc_content;
                padding-left: 1rem;

              }
            }
            .remedial_classes_svc {
              border-bottom: 1px solid color(accent-4);
              display: grid;
              grid-template-columns: 75% 25%;
              grid-template-rows: auto;
              grid-template-areas: "remedial_svc_content remedial_img";

              img {
                grid-area: remedial_img;
                padding-left: 1rem;
              }
              .remedial_classes_content {
                grid-area: remedial_svc_content;
              }
            }
            .school_work_help_svc {
              border-bottom: 1px solid color(accent-4);
              display: grid;
              grid-template-columns: 25% 75%;
              grid-template-rows: auto;
              grid-template-areas: "school_work_img school_work_svc_content";
              img {
                grid-area: school_work_img;
              }
              .school_work_help_content {
                grid-area: school_work_svc_content;
                padding-left: 1rem;
              }
            }
            .printing_laminating_svc {
              border-bottom: 1px solid color(accent-4);
              display: grid;
              grid-template-columns: 75% 25%;
              grid-template-rows: auto;
              grid-template-areas: "printing_laminating_content printing_laminating_img";
              img {
                grid-area: printing_laminating_img;
                padding-left: 1rem;
              }
              .printing_laminating_content {
                grid-area: printing_laminating_content;
              }
            }
            .study_buddy_svc {
              border-bottom: 1px solid color(accent-4);
              display: grid;
              grid-template-columns: 30% 70%;
              grid-template-rows: auto;
              grid-template-areas: "study_buddy_img study_buddy_content";
              img {
                grid-area: study_buddy_img;
              }
              .study_buddy_content {
                grid-area: study_buddy_content;
                padding-left: 1rem;

              }
            }
          }
        }
      }
    }
  }
}
