@import "../../style.scss";

body {
  .page_container {
    background: color(base-1);

    #page_main {
      position: relative;
      .content_area {
        position: inherit;
        .services_content_area::before {
            position: relative;
            box-sizing: border-box;
            padding:15rem;
            position: absolute;
            content: "";
            background-image: url("../imgs/our_services.png");
            background-size: cover;
            background-position: center;
            opacity: 0.1;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
        .services_content_area {
            position: relative;
            display: grid;
            width: inherit;
            // grid-template-columns: 1rem 1rem;
            // grid-template-areas: 
            // "reading_assessment_img reading_assessment_conent"
            // "remedial_classes_content remedial_classes_img"
            // "school_work_help_img school_work_help_content";

            grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
            // border:1px solid red;
            .service {
                position: relative;
                z-index: 10;
                // border:1px solid green;
                padding:1rem;
                // box-sizing: border-box;
                img {
                    width:100%;
                    margin-bottom: 1rem;;
                    border-radius: 2px;
                    box-shadow: 2px 2px 4px color(accent-4);
                }
                h1 {
                    color:#000;
                    margin-bottom: 1rem;;
                    text-align: center;

                }
                p {
                    text-align: justify;
                    width: 80%;
                    margin: 0 auto 1rem auto;
                }
                button {
                    cursor: pointer;
                    background: color(primary);
                    color:color(text-2);
                    padding:.5rem;
                    outline: none;
                    border:none;
                    border-radius: 2px;
                    transition: 1s;
                    &:hover{
                        color:color(secondary);
                        transform: scale($transform-scale-factor);
                    }
                    display: flex;
                    margin: 0 auto;

                }
                
            }
        }
      }
    }
  }
}
